pandas
lightgbm
supabase
scikit-learn
sentence-transformers
numpy
python-dotenv
urllib3>=2
OpenAI
transformers
yt-dlp>=2025.11.12
git+https://github.com/openai/CLIP.git
moviepy
imageio-ffmpeg
opencv-python
torchvision
torchaudio
easyocr
faster-whisper
accelerate
huggingface_hub